@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a:link {
  text-decoration: none;
  color: black;
}

/*Couleurs du site*/
body {
  font-family: "Roboto", sans-serif;
}

.entete {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  position: relative;
}

.localisation {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  height: 50px;
  background-color: #EAEAEA;
}
.localisation .fa-map-marker-alt {
  padding-right: 10px;
}

.reservation {
  padding: 10px 30px 50px 30px;
  background-color: #F6F6F6;
}
.reservation h1, .reservation p {
  text-align: center;
}
.reservation h1 {
  font-size: 1.5rem;
  padding: 20px;
}
.reservation p {
  margin-bottom: 30px;
}

.btn1 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  height: 40px;
  width: 180px;
  margin: auto;
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  color: white;
  border: none;
  box-shadow: 3px 5px 5px #dadada;
  transition: opacity 500ms;
}
.btn1:hover {
  opacity: 0.85;
  box-shadow: 3px 5px 5px #b9b9b9;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  padding: 50px 0 50px 0;
  margin-left: 20px;
}
.fonctionnement .fonctionnement_choix {
  padding-top: 30px;
}
.fonctionnement .choix {
  display: flex;
  border-radius: 20px;
  height: 60px;
  align-items: center;
  background-color: #F6F6F6;
  margin: 0 20px 20px 0;
  box-shadow: 3px 5px 5px #dadada;
}
.fonctionnement .choix:hover {
  background-color: #FAEAF0;
}
.fonctionnement .choix .nombre {
  display: flex;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  height: 20px;
  width: 20px;
  margin: -10px;
}
.fonctionnement .choix .icone {
  padding: 0 20px 0px 30px;
  font-size: 1.3rem;
}
.fonctionnement .choix .description {
  font-weight: bold;
}

@media (min-width: 770px) {
  .fonctionnement h2 {
    text-align: center;
  }
  .fonctionnement .choix {
    padding-right: 20px;
  }
  .fonctionnement .fonctionnement_choix {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 50px;
  }
}
.restaurants {
  background-color: #F6F6F6;
  padding: 0px 10px 50px 10px;
}
.restaurants a:visited, .restaurants a:link, .restaurants a:active {
  color: black;
}
.restaurants h2 {
  padding: 30px 0 30px 0;
}

.flyers {
  display: grid;
  row-gap: 20px;
  justify-content: center;
}

.flyer {
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  box-shadow: 3px 5px 5px #dadada;
}
.flyer .flyer_nouveau {
  background: #a9e0d1;
  color: #3b8468;
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
}

.flyer_photo {
  height: 180px;
}
.flyer_photo img {
  max-width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  height: 180px;
  width: 360px;
}

.flyer_descrip {
  position: relative;
  padding: 20px;
  font-size: 0.9rem;
}
.flyer_descrip h3 {
  padding-bottom: 10px;
}

.flyer_descrip_favorite {
  position: absolute;
  font-size: 1.5rem;
  top: 30%;
  left: 80%;
}

@media (min-width: 770px) {
  .flyers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .menu_plat {
    padding-right: 10px;
  }
}
footer {
  background-color: #404040;
  color: white;
  padding: 20px;
}
footer .footer_omf {
  padding-bottom: 30px;
  font-family: Shrikhand;
  font-size: 1.2rem;
}
footer .footer_click {
  padding-bottom: 10px;
}

footer a:visited, footer a:link, footer a:active {
  color: white;
}

@media (min-width: 770px) {
  .footer_liens, .footer_omf {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.btn_vers_index {
  position: absolute;
  left: 15px;
}
.btn_vers_index .fa-arrow-left {
  font-size: 20px;
  color: black;
}

.photo_restaurant {
  position: relative;
}
.photo_restaurant img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.nom_restaurant {
  display: flex;
  justify-content: space-between;
}
.nom_restaurant h1 {
  font-family: "Shrikhand";
  font-size: 1.7rem;
}
.nom_restaurant .fa-heart {
  font-size: 25px;
  padding-top: 10px;
}
.nom_restaurant .coeur:hover {
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
}

.menu {
  background-color: #F6F6F6;
  border-radius: 30px;
  position: relative;
  margin-top: -70px;
  padding: 30px 10px 30px 10px;
}
.menu .contenu_menu {
  margin-top: 50px;
}

.menu_sorte h2 {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 500;
  padding-bottom: 10px;
  position: relative;
}
.menu_sorte ::after {
  content: "";
  width: 2.8rem;
  height: 0.25rem;
  background-color: #99E2D0;
  position: absolute;
  left: 0;
  bottom: 0;
}

.menu_contenu {
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  box-shadow: 3px 5px 5px #dadada;
  margin: 10px 0 20px 0;
  overflow: hidden;
  animation: slideMenu 2s ease-in-out forwards;
}
.menu_contenu .menu_plat {
  width: 70%;
}
.menu_contenu .menu_plat h3, .menu_contenu .menu_plat p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@keyframes slideMenu {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu_contenu .menu_prix {
  font-weight: bold;
  display: flex;
  align-items: flex-end;
}

.menu_check {
  background-color: #99E2D0;
  margin: -15px -15px -15px 10px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu_check .menu_check_icone {
  color: white;
  font-size: x-large;
}

.btn_menu {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  height: 60px;
  width: 180px;
  margin: 50px auto 50px auto;
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  color: white;
  border: none;
  box-shadow: 3px 5px 5px #dadada;
  font-size: large;
  transition: opacity 500ms;
}
.btn_menu:hover {
  opacity: 0.85;
  box-shadow: 3px 5px 5px #b9b9b9;
}

@media (min-width: 770px) {
  .nom_restaurant {
    justify-content: space-around;
  }
  .nom_restaurant h1 {
    font-family: "Shrikhand";
    font-size: 4rem;
  }
  .nom_restaurant .fa-heart {
    font-size: 50px;
  }

  .menu {
    border-radius: 0;
    margin: 0;
  }

  .description_menu {
    display: flex;
    justify-content: space-between;
  }
  .description_menu .menu_sorte {
    align-self: center;
    margin-left: 15px;
  }
  .description_menu .menu_contenu {
    width: 100%;
    margin: 30px;
  }
  .description_menu .menu_contenu .menu_prix {
    align-items: center;
  }

  .photo_restaurant {
    height: 400px;
  }
  .photo_restaurant img {
    height: 100%;
  }
}
.loader {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  position: fixed;
  z-index: 200;
  animation: apparition 0.2s 3s ease-in-out normal forwards;
}

@keyframes apparition {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
    visibility: hidden;
  }
}
.loader_titre {
  font-family: "Shrikhand";
  color: white;
  font-size: 2rem;
  letter-spacing: 3px;
  padding-bottom: 50px;
}

.LoaderBalls {
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.LoaderBalls__item1 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #9356DC;
  animation: balles 0.5s alternate infinite cubic-bezier(0.6, 0.05, 0.15, 0.95);
}
.LoaderBalls__item2 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #FF79DA;
  animation: balles 0.3s alternate infinite cubic-bezier(0.6, 0.05, 0.15, 0.95);
}
.LoaderBalls__item3 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #99E2D0;
  animation: balles 0.4s alternate infinite cubic-bezier(0.6, 0.05, 0.15, 0.95);
}

@keyframes balles {
  0% {
    transform: translate3d(0, 10px, 0) scale(1.2, 0.85);
  }
  100% {
    transform: translate3d(0, -20px, 0) scale(0.9, 1.1);
  }
}

/*# sourceMappingURL=style.css.map */
