@charset "UTF-8";
/*Normalisation des styles des navigateurs et retrait des soulignements des liens*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  cursor: pointer;
}

a:link {
  text-decoration: none;
  color: black;
}

/*Couleurs du site*/
/*Police par défaut du contenu du site*/
body {
  font-family: "Roboto", sans-serif;
}

/*Mise en page de l'entête du site avec le logo ohmyfood*/
.entete {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  position: relative;
}

/* Partie localisation paris belleville*/
.localisation {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  height: 50px;
  background-color: #EAEAEA;
}
.localisation .fa-map-marker-alt {
  padding-right: 10px;
}

/*Mise en forme de la partie réservation*/
.reservation {
  padding: 10px 30px 50px 30px;
  background-color: #F6F6F6;
}
.reservation h1, .reservation p {
  text-align: center;
}
.reservation h1 {
  font-size: 1.5rem;
  padding: 20px;
}
.reservation p {
  margin-bottom: 30px;
}

/*Style du bouton explorer nos restaurants avec son effet au survol */
.btn1 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  height: 40px;
  width: 180px;
  margin: auto;
  cursor: pointer;
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  color: white;
  border: none;
  box-shadow: 3px 5px 5px #dadada;
  transition: opacity 500ms;
}
.btn1:hover {
  opacity: 0.85;
  box-shadow: 3px 5px 5px #b9b9b9;
}

/*Mise en forme de la partie fonctionnement et des 3 "boutons"*/
.fonctionnement {
  display: flex;
  flex-direction: column;
  padding: 50px 0 50px 0;
  margin-left: 20px;
}
.fonctionnement .fonctionnement_choix {
  padding-top: 30px;
}
.fonctionnement .choix {
  display: flex;
  border-radius: 20px;
  height: 60px;
  align-items: center;
  background-color: #F6F6F6;
  margin: 0 20px 20px 0;
  box-shadow: 3px 5px 5px #dadada;
}
.fonctionnement .choix:hover {
  background-color: #FAEAF0;
}
.fonctionnement .choix .nombre {
  display: flex;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  height: 20px;
  width: 20px;
  margin: -10px;
}
.fonctionnement .choix .icone {
  padding: 0 20px 0px 30px;
  font-size: 1.3rem;
}
.fonctionnement .choix .description {
  font-weight: bold;
}

@media (min-width: 770px) {
  .fonctionnement h2 {
    text-align: center;
  }
  .fonctionnement .choix {
    padding-right: 20px;
  }
  .fonctionnement .fonctionnement_choix {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 50px;
  }
}
/*Mise en forme de la partie restaurant avec photos et lien vers page dédiée au clic sur photo*/
.restaurants {
  background-color: #F6F6F6;
  padding: 0px 10px 50px 10px;
}
.restaurants a:visited, .restaurants a:link, .restaurants a:active {
  color: black;
}
.restaurants h2 {
  padding: 30px 0 30px 0;
}

.flyers {
  display: grid;
  row-gap: 20px;
  justify-content: center;
}

.flyer {
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  box-shadow: 3px 5px 5px #dadada;
}
.flyer .flyer_nouveau {
  background: #a9e0d1;
  color: #3b8468;
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
}

.flyer_photo {
  height: 180px;
}
.flyer_photo img {
  max-width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  height: 180px;
  width: 360px;
}

.flyer_descrip {
  position: relative;
  padding: 20px;
  font-size: 0.9rem;
}
.flyer_descrip h3 {
  padding-bottom: 10px;
}

.flyer_descrip_favorite {
  position: absolute;
  font-size: 1.5rem;
  top: 30%;
  left: 80%;
}

@media (min-width: 770px) {
  .flyers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .menu_plat {
    padding-right: 10px;
  }
}
/*Mise en page du footer commun à toutes les pages*/
footer {
  background-color: #404040;
  color: white;
  padding: 20px;
}
footer .footer_omf {
  padding-bottom: 30px;
  font-family: Shrikhand;
  font-size: 1.2rem;
}
footer .footer_click {
  padding-bottom: 10px;
}

footer a:visited, footer a:link, footer a:active {
  color: white;
}

@media (min-width: 770px) {
  .footer_liens, .footer_omf {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
/*style des pages des restaurants*/
/*Bouton de retour vers l'index*/
.btn_vers_index {
  position: absolute;
  left: 15px;
}
.btn_vers_index .fa-arrow-left {
  font-size: 20px;
  color: black;
}

/*mise en forme commune de la photo pour chaque restaurant*/
.photo_restaurant {
  position: relative;
}
.photo_restaurant img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

/* Titre du restaurant avec un coeur à coté pour "j'aime" utilisateur*/
.nom_restaurant {
  display: flex;
  justify-content: space-between;
}
.nom_restaurant h1 {
  font-family: "Shrikhand";
  font-size: 1.7rem;
}

/*Mise en forme du contenu global des menus*/
.menu {
  background-color: #F6F6F6;
  border-radius: 30px;
  position: relative;
  margin-top: -70px;
  padding: 30px 10px 30px 10px;
}
.menu .contenu_menu {
  margin-top: 50px;
}

/* titre entrée plat dessert*/
.menu_sorte {
  position: relative;
  /*petite barre verte sous entée plat dessert*/
}
.menu_sorte h2 {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 500;
  padding-bottom: 10px;
}
.menu_sorte ::after {
  content: "";
  width: 2.8rem;
  height: 0.25rem;
  background-color: #99E2D0;
  position: absolute;
  left: 0;
  bottom: 0;
}

/* Mise en forme de chaque plat (titre, accompagnement, prix)*/
.menu_contenu {
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  box-shadow: 3px 5px 5px #dadada;
  margin: 10px 0 20px 0;
  overflow: hidden;
  position: relative;
  /* déclenchement du check et rotation de l'icone associée au survol*/
  /*Redimensionnement de menu plat pour rogner au déclenchement de la coche*/
  /*Animation de l'arrivée progressive des menus au chargement de la page*/
  animation: slideMenu 2s ease-in-out forwards;
  /*Mise en forme des plats et prix avec 3. lorsque la taille du conteneur est trop petit pour le contenu*/
}
.menu_contenu:hover .menu_check {
  transform: translateX(0px);
}
.menu_contenu:hover .menu_check_icone {
  transform: rotate(0deg);
}
.menu_contenu:hover .menu_prix {
  transform: translateX(-60px);
}
.menu_contenu:hover .menu_plat {
  width: 67%;
}
.menu_contenu:hover .menu_plat h3, .menu_contenu:hover .menu_plat p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu_contenu .menu_plat {
  width: 80%;
}
.menu_contenu .menu_plat h3, .menu_contenu .menu_plat p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu_contenu .menu_prix {
  font-weight: bold;
  display: flex;
  align-items: flex-end;
  transition-duration: 600ms;
  transform: translateX(0px);
}

/*Mise place de la coche cachée sans clic*/
.menu_check {
  background-color: #99E2D0;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  transition-duration: 600ms;
  transform: translateX(60px);
}
.menu_check .menu_check_icone {
  color: white;
  font-size: x-large;
  transition-duration: 600ms;
  transform: rotate(360deg);
}

/*style du bouton commander qui s'éclaircit avec ombre plus intense au clic*/
.btn_menu {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  height: 60px;
  width: 180px;
  margin: 50px auto 50px auto;
  cursor: pointer;
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  color: white;
  border: none;
  box-shadow: 3px 5px 5px #dadada;
  font-size: large;
  transition: opacity 500ms;
}
.btn_menu:hover {
  opacity: 0.85;
  box-shadow: 3px 5px 5px #b9b9b9;
}

@media (min-width: 1100px) {
  .nom_restaurant {
    justify-content: space-around;
  }
  .nom_restaurant h1 {
    font-family: "Shrikhand";
    font-size: 4rem;
  }
  .nom_restaurant .fa-heart {
    font-size: 50px;
  }

  .menu {
    border-radius: 0;
    margin: 0;
  }

  .description_menu {
    display: flex;
    justify-content: space-between;
  }
  .description_menu .menu_sorte {
    align-self: center;
    margin-left: 15px;
  }
  .description_menu .menu_contenu {
    width: 100%;
    margin: 30px;
  }
  .description_menu .menu_contenu .menu_prix {
    align-items: center;
  }

  .photo_restaurant {
    height: 400px;
  }
  .photo_restaurant img {
    height: 100%;
  }
}
/*Loader spinner au chargement de la page index.html*/
.loader {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  position: fixed;
  z-index: 200;
  animation: apparition 0.2s 3s ease-in-out forwards;
}

/*Mise en forme de la phrase du loader*/
.loader_titre {
  font-family: "Shrikhand";
  color: white;
  font-size: 2rem;
  letter-spacing: 3px;
  padding-bottom: 50px;
}

/*Mise en place du conteneur des balles et des 3 balles rebondissantes*/
.LoaderBalls {
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.LoaderBalls__item1 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #9356DC;
  animation: balles 0.5s alternate infinite cubic-bezier(0.6, 0.05, 0.15, 0.95);
}
.LoaderBalls__item2 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #FF79DA;
  animation: balles 0.3s alternate infinite cubic-bezier(0.6, 0.05, 0.15, 0.95);
}
.LoaderBalls__item3 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #99E2D0;
  animation: balles 0.4s alternate infinite cubic-bezier(0.6, 0.05, 0.15, 0.95);
}

/*Gestion apparition et disparition loader*/
@keyframes apparition {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
    visibility: hidden;
  }
}
/*Rebond des balles du loader*/
@keyframes balles {
  0% {
    transform: translate3d(0, 10px, 0) scale(1.2, 0.85);
  }
  100% {
    transform: translate3d(0, -20px, 0) scale(0.9, 1.1);
  }
}
/*Effet d'apparition progessive des menus par groupes*/
@keyframes slideMenu {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/*Coeur présent sur toutes les pages*/
.fa-heart {
  font-size: 25px;
  padding-top: 10px;
  /*Remplissage du coeur au survol*/
}
.fa-heart:hover {
  background: linear-gradient(#FF79DA, #9356DC);
  /* background-clip: text;*/
  color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  transition: all 2s ease-in-out;
  font-weight: 900;
}

/*# sourceMappingURL=style.css.map */
