/*Couleurs du site*/
$couleur_primaire : #9356DC;
$couleur_secondaire : #FF79DA;
$couleur_tertiaire : #99E2D0;
$couleur_shadow : #dadada;
$couleur_background : #F6F6F6;
$couleur_police_nouveau :#3b8468;
$couleur_fond_nouveau : #a9e0d1;