/*Couleurs du site*/
$couleur_primaire : #9356DC;
$couleur_secondaire : #FF79DA;
$couleur_tertiaire : #99E2D0;
$couleur_shadow : #dadada;
$couleur_background : #F6F6F6;
$couleur_police_nouveau :#3b8468;
$couleur_fond_nouveau : #a9e0d1;
$couleur_blanche : white;
$couleur_noire : black;
$couleur_background_footer : #404040;
$couleur_btn_rose : #FAEAF0;
$couleur_hover_btn : #b9b9b9;
