/*Mise en forme de la partie réservation*/

.reservation{
    padding: 10px 30px 50px 30px;
    background-color: $couleur_background;
    h1, p{
      text-align: center;
    }
    h1{
      font-size: 1.5rem;
      padding: 20px;
    }
    p{
      margin-bottom: 30px;
    }
  }

  /*Style du bouton explorer nos restaurants avec son effet au survol */
  .btn1{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    height: 40px;
    width: 180px;
    margin: auto;
    background-image: linear-gradient(to bottom, $couleur_secondaire, $couleur_primaire) ;
    color: $couleur_blanche;
    border: none;
    box-shadow: 3px 5px 5px $couleur_shadow;
    transition: opacity 500ms;

    &:hover{
      opacity: 0.85;
      box-shadow: 3px 5px 5px $couleur_hover_btn;
    }
  }

  
  