.btn_vers_index{
    position: absolute;
    left: 15px;
    
    .fa-arrow-left{
        font-size: 20px;
        color: black;
    }

}

.photo_restaurant{
    
    position: relative;

    img{
        height: 300px;
        width: 100%;
        object-fit: cover;
    }
}


.nom_restaurant{
    display: flex;
    justify-content: space-between;
    h1{
        font-family: "Shrikhand";
        font-size: 1.7rem;
    }
    .fa-heart{
        font-size: 25px;
        padding-top: 10px;
    }
}

.menu{
    background-color: $couleur_background;
    border-radius: 30px;
    position: relative;
    margin-top: -70px;
    padding: 30px 10px 30px 10px;

    .contenu_menu{
        margin-top: 50px;
    }

}

.menu_sorte{
    h2{
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 500;
    padding-bottom: 10px;
    position :relative
}
    ::after{
        content: "";
        width: 2.8rem;
        height: .25rem;
        background-color: $couleur_tertiaire;
        position: absolute;
        left: 0;
        bottom: 0;
    
    }
}

.menu_contenu{
    background-color: $couleur_blanche;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    box-shadow: 3px 5px 5px $couleur_shadow;
    margin: 10px 0 20px 0;
    overflow: hidden;
    
    
    .menu_plat {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        
    }
    
    .menu_prix{
        
        font-weight: bold;
        display: flex;
        align-items: flex-end;
    }
}


.btn_menu{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    height: 60px;
    width: 180px;
    margin: 50px auto 50px auto;
    background-image: linear-gradient(to bottom, $couleur_secondaire, $couleur_primaire) ;
    color: $couleur_blanche;
    border: none;
    box-shadow: 3px 5px 5px $couleur_shadow;
    font-size: large;

    &:hover{
        opacity: 0.9;
        box-shadow: 3px 5px 5px $couleur_hover_btn;
      }
}


  

@media (min-width: 770px){

    .nom_restaurant{
        justify-content: space-around;
        h1 {
        font-family: "Shrikhand";
        font-size: 4rem;

    }
    .fa-heart {
        font-size: 50px;
        }
    }   

    .menu{
        border-radius: 0;
        margin: 0;
    }
    .description_menu{
        display: flex;
        justify-content: space-between;

        .menu_sorte{
            align-self: center;
            margin-left: 15px;
        }


        .menu_contenu{
            width: 100%;
            margin: 30px;

            .menu_prix{
                align-items: center;
            }
        }
    }
    .photo_restaurant img {
        height: 400px;}
}