/*Normalisation des styles des navigateurs et retrait des soulignements des liens*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  cursor: pointer;
}
a:link 
{ 
 text-decoration:none; 
 color: black;
} 